/journeymap/config
/journeymap
/local/crash_assistant
/local/ftbchunks/data
/logs
/modernfix/structureCacheV1
/mods/.connector
/saves
/screenshots
/crash-reports
resourcepacks/Quark Programmer Art.zip
/tacz/tacz_default_gun
/simplebackups
/tacz_backup
/.mixin.out
usercache.json
usernamecache.json
.mixin.out/class/net/minecraft/client/renderer/RenderType$CompositeRenderType.class
icon.png
options.txt
fancymenu_data/last_world.fmdata
emi.json
icon.png
fancymenu_data/last_world.fmdata
patchouli_data.json
config/oculus.properties
config/packetfixer.properties
config/konkrete/locals/de_de.local
config/konkrete/locals/en_us.local
config/konkrete/locals/pl_pl.local
config/konkrete/locals/pt_br.local
config/emi.css
config/fabric/indigo-renderer.properties
config/ironchests/defaults.properties
/fancymenu_data/fancymenu_temp
config/packetfixer.properties
config/paxi/datapacks/compression/data/gardenofglass/loot_tables/pebbles.json
config/packetfixer.properties
config/packetfixer.properties
fancymenu_data/last_world.fmdata
config/emi.css
config/fabric/indigo-renderer.properties
config/oculus.properties
config/xenon-fingerprint.json
config/oculus.properties
config/packetfixer.properties
config/xenon-fingerprint.json
config/oculus.properties
config/oculus.properties
config/xenon++.toml
config/xenon-options.json
config/fml.toml
icon.png
config/emi.css
config/fabric/indigo-renderer.properties
config/ironchests/defaults.properties
config/oculus.properties
config/packetfixer.properties
config/xenon-options.json
config/xenon++.toml
/config/worldedit
config/ironchests/defaults.properties
/config/NoChatReports
/config/NoChatReports
config/oculus.properties
config/packetfixer.properties
config/xenon-fingerprint.json
fabricloader.log
impossible_data/what_is_this_folder.txt
spiffy_instance_data/death_point.json
patchouli_data.json
config/ironchests/defaults.properties
config/oculus.properties
config/packetfixer.properties
config/sounds/chat.json
config/sounds/chat.json
/config/ironchests
config/emi.css
config/emi.css
