/journeymap/config
/journeymap
/local/crash_assistant
/local/ftbchunks/data
/logs
/modernfix/structureCacheV1
/mods/.connector
/saves
/screenshots
resourcepacks/Quark Programmer Art.zip
/tacz/tacz_default_gun
/simplebackups
/tacz_backup
usercache.json
usernamecache.json
.mixin.out/class/net/minecraft/client/renderer/RenderType$CompositeRenderType.class
icon.png
options.txt
fancymenu_data/last_world.fmdata
emi.json
icon.png
fancymenu_data/last_world.fmdata
config/oculus.properties
config/packetfixer.properties
crash-reports/crash-2025-11-13_13.12.03-client.txt
crash-reports/crash-2025-11-13_11.55.54-client.txt
crash-reports/crash-2025-11-13_11.53.48-client.txt
config/konkrete/locals/de_de.local
config/konkrete/locals/en_us.local
config/konkrete/locals/pl_pl.local
config/konkrete/locals/pt_br.local
config/emi.css
config/fabric/indigo-renderer.properties
config/ironchests/defaults.properties
/fancymenu_data/fancymenu_temp
config/packetfixer.properties
config/paxi/datapacks/compression/data/gardenofglass/loot_tables/pebbles.json
config/packetfixer.properties
*.txt
config/packetfixer.properties
fancymenu_data/last_world.fmdata
config/emi.css
config/fabric/indigo-renderer.properties
config/oculus.properties
config/xenon-fingerprint.json
config/oculus.properties
config/packetfixer.properties
config/xenon-fingerprint.json
config/oculus.properties
