/journeymap/config
/journeymap
/local/crash_assistant
/local/ftbchunks/data
/logs
/modernfix/structureCacheV1
/saves
/screenshots
/crash-reports
resourcepacks/Quark Programmer Art.zip
/tacz/tacz_default_gun
/simplebackups
/tacz_backup
.mixin.out
usercache.json
usernamecache.json
options.txt
emi.json
patchouli_data.json
config/oculus.properties
config/packetfixer.properties
config/konkrete/locals/de_de.local
config/konkrete/locals/en_us.local
config/konkrete/locals/pl_pl.local
config/konkrete/locals/pt_br.local
fancymenu_data/fancymenu_temp
config/paxi/datapacks/compression/data/gardenofglass/loot_tables/pebbles.json
fancymenu_data/last_world.fmdata
config/xenon-fingerprint.json
config/xenon++.toml
config/xenon-options.json
config/emi.css
/config/worldedit
/config/NoChatReports
fabricloader.log
impossible_data/what_is_this_folder.txt
spiffy_instance_data/death_point.json
config/sounds/chat.json
config/fml.toml
/xaero/world-map
/XaeroWaypoints_BACKUP*
/xaero/minimap
/config/fabric
/config/ironchests
